<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->
</head>

<body>
    <!-- =====================================navbar========================== -->
    <nav>
        <div class="logo1"><img src="../assets/images/png/Netflix_logo.png" alt="logo" class="logo"></div>
        <div class="profile1"> <img src="../assets/images/jpg/Banner/profile2.jpg" alt="title" class="profile">
        </div>
    </nav>

    <!-- ========================================banner================================= -->
    <div class="banner">
        <div class="banner-content">
            <div class="banner-title">
                <img src="../assets/images/jpg/Banner/Img_Title.jpg" alt="Title">
                <h1>My demon</h1>
                <h3 style="color: lightslategray; padding: 2px 0px;">2023|U/A|1Season|Romance</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolores dicta doloribus expedita est,
                    dolorum quae consequuntur qui, consectetur, tempore illum aliquid harum exercitationem aspernatur
                    voluptatum reprehenderit facilis! Illum, nisi.</p>
                <h3 style="color: azure;"><span style="color: lightslategray;">Starring:</span>Song Kang,Kim
                    You-jung,Lee Sang-yi <br>
                    <span style="color: lightslategray; ">Creators:</span>Choi A-il,Kim Jang-han,Kwon Da-som
                </h3>
            </div>
            <div class="banner-buttons">
                <button>
                    <div class="play"><a href="">play</a></div>

                </button>
                <button>
                    <div class="Info">Info</div>
                </button>
            </div>
        </div>
    </div>
    <!-- =============================================subcards=================================== -->
    <section>
        <h1>popular on Netflix</h1>
        <div class="posters">
            <a href="http://127.0.0.1:5500/disc/Mydemon/MyDemon.html"><div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img1.jpg" alt="Logo" class="Poster">
                <h3>MyDemon</h3>
            </div></a>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img2.jpg" alt="Logo" class="Poster">
                <h3>TheRailwayMen</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img3.jpg" alt="Logo" class="Poster">
                <h3>Lucifer</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img4.jpg" alt="Logo" class="Poster">
                <h3>Life of our Planet</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img5.jpg" alt="Logo" class="Poster">
                <h3>squid game</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img6.jpg" alt="Logo" class="Poster">
                <h3>Stranger Things</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img8.jpg" alt="Logo" class="Poster">
                <h3>The witcher</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img9.jpg" alt="Logo" class="Poster">
                <h3>Luckey key</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img10.jpg" alt="Logo" class="Poster">
                <h3>Never have I Ever</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img11.jpg" alt="Logo" class="Poster">
                <h3>Emily in Paris</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img12.jpg" alt="Logo" class="Poster">
                <h3>Manifest</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img13.jpg" alt="Logo" class="Poster">
                <h3>Wednesday</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img14.jpg" alt="Logo" class="Poster">
                <h3>Extraction</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img15.jpg" alt="Logo" class="Poster">
                <h3>Triple Frontier</h3>
            </div>
        </div>
    </section>
    <section>
        <h1>Action movies</h1>
        <div class="posters">
            <a href="http://127.0.0.1:5500/Mydemon/MyDemon.html"><div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img16.jpg" alt="Logo" class="Poster">
                <h3>Curry&Cyanide</h3>
            </div></a>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img17.jpg" alt="Logo" class="Poster">
                <h3>Troll</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img18.jpg" alt="Logo" class="Poster">
                <h3>Minal O Murali</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img20.jpg" alt="Logo" class="Poster">
                <h3>Red Notice</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img21.jpg" alt="Logo" class="Poster">
                <h3>The Gray Man</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img22.jpg" alt="Logo" class="Poster">
                <h3>Close</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img23.jpg" alt="Logo" class="Poster">
                <h3>The Mother</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img24.jpg" alt="Logo" class="Poster">
                <h3>Revenge</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img25.jpg" alt="Logo" class="Poster">
                <h3>Mowgli</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img26.jpg" alt="Logo" class="Poster">
                <h3>Luther</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img27.jpg" alt="Logo" class="Poster">
                <h3>Black Crab</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img28.jpg" alt="Logo" class="Poster">
                <h3>Rurouni Kenshin</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img29.jpg" alt="Logo" class="Poster">
                <h3>Interceptor</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img30.jpg" alt="Logo" class="Poster">
                <h3>Ballirina</h3>
            </div>
        </div>
    </section>
    <section>
        <h1>K-Dramas</h1>
        <div class="posters">
            <a href="http://127.0.0.1:5500/Mydemon/MyDemon.html"><div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img31.jpg" alt="Logo" class="Poster">
                <h3>King The Land</h3>
            </div></a>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img32.jpg" alt="Logo" class="Poster">
                <h3>The Glory</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img33.jpg" alt="Logo" class="Poster">
                <h3>Welcome to Samdal-ri</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img34.jpg" alt="Logo" class="Poster">
                <h3>Usiness Proposal</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img35.jpg" alt="Logo" class="Poster">
                <h3>It's Okay Not Be Okay</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img45.jpg" alt="Logo" class="Poster">
                <h3>HomeTown</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img37.jpg" alt="Logo" class="Poster">
                <h3>Extraordinary Attorney Woo</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img38.jpg" alt="Logo" class="Poster">
                <h3>Nam-Soon</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img39.jpg" alt="Logo" class="Poster">
                <h3>VINCEN20</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img40.jpg" alt="Logo" class="Poster">
                <h3>Behind your Touch</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img41.jpg" alt="Logo" class="Poster">
                <h3>The King</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img42.jpg" alt="Logo" class="Poster">
                <h3>Sweet Home</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img43.jpg" alt="Logo" class="Poster">
                <h3>Alchemy of Souls</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img44.jpg" alt="Logo" class="Poster">
                <h3>Destinated with you</h3>
            </div>
        </div>
    </section>
    <section>
        <h1>Comedy Movies</h1>
        <div class="posters">
            <a href="http://127.0.0.1:5500/Mydemon/MyDemon.html"><div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img46.jpg" alt="Logo" class="Poster">
                <h3>LEO</h3>
            </div></a>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img47.jpg" alt="Logo" class="Poster">
                <h3>The MOnekey King</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img48.jpg" alt="Logo" class="Poster">
                <h3>Army of Thieves</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img49.jpg" alt="Logo" class="Poster">
                <h3>Lust Stories 2</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img50.jpg" alt="Logo" class="Poster">
                <h3>Ginny weds Sunny</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img51.jpg" alt="Logo" class="Poster">
                <h3>Once upon a Crime</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img52.jpg" alt="Logo" class="Poster">
                <h3>Royal Treatment</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img53.jpg" alt="Logo" class="Poster">
                <h3>Yes Day</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img54.jpg" alt="Logo" class="Poster">
                <h3>Kathal</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img55.jpg" alt="Logo" class="Poster">
                <h3>Monica O my Darling</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img56.jpg" alt="Logo" class="Poster">
                <h3>Family Switch</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img57.jpg" alt="Logo" class="Poster">
                <h3>Wish Dragon</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img58.jpg" alt="Logo" class="Poster">
                <h3>Hard feelings</h3>
            </div>
            <div class="poster-title"><img src="../assets/images/jpg/only_on_netflix/img59.jpg" alt="Logo" class="Poster">
                <h3>Darlings</h3>
            </div>
        </div>
    </section>
    <!-- ==============================================footer========================================== -->
    <footer>
        <h1>Questions? Call 000-800-919-1694</h1>
        <div class="row">
            <div class="col">
                <a href="">FAQ</a>
                <a href="">Investor Relations</a>
                <a href="">
                    Privacy</a>
                <a href="">Speed Test</a>
            </div>
            <div class="col">
                <a href="">
                    Help Centre</a>
                <a href="">

                    Jobs</a>
                <a href="">
                    Cookie Preferences</a>
                <a href="">
                    Legal Notices</a>
            </div>
            <div class="col">
                <a href="">
                    Account</a>
                <a href="">

                    Ways to Watch</a>
                <a href="">

                    Corporate Information</a>
                <a href="">
                    Only on Netflix</a>
            </div>
            <div class="col">
                <a href="">
                    Media Centre</a>
                <a href="">
                    Terms of Use </a>
                <a href="">Contact Us</a>
            </div>
        </div>
        <button class="language"><i class="fa-solid fa-globe"></i>English</button>
        <h3 class="India">Netflix India</h3>
    </footer>
</body>

</html>